@charset "utf-8";
/*
    New Perspectives on HTML5 and CSS3, 7th Edition
    Tutorial 2
    Start Webpage
   Filename: sa_layout.css

   This file contains the layout styles used at Flower's Online

*/
body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
}

body > header {
	width: 100%;
}

body > header > nav {
	display: table;
	width: 100%;
}

body > header > nav > ul {
	display: table-row;
}

body > header > nav > ul > li {
	display: table-cell;
	text-align: center;
}
